<p>Hogwarts Proudly Presents</p>


<% for student in @students %>
  <p>Name: <%= student.name %> </p>
  <p>Age: <%= student.age %> </p>
  <p>House: <%= student.house %> </p>
  <p> <a href="/students/<%=student.id%>"> Show Student</a> </p>

  <hr />
<% end %>
