<form method="post" action="/students">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" required="required"/>
  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" required="required" />
  <label for="house-select">Let the Hat Select a House:</label>
  <select id="house-select" name="house_id">

    <% for house in @houses  %>
      <option value="<%= house.id %>"><%=house.house_name  %></option>
    <% end  %>
  </select>
  <label for="age">Age:</label>
  <input id="age" type="number" name="age" min="9"/>

  <input type="submit" value="Register" />

</form>
