.student-block{
  background: linear-gradient(-45deg, tomato, rgb(252, 233, 59));
  border: solid 1px mediumaquamarine;
}

.mini-block{
  border: solid 2px rgb(212, 51, 0);
}

img{
  max-width: 10%;
}
